# GCP Project ID
PROJECT_ID=your-gcp-project-id

# Toolbox Docker Image URL
IMAGE=europe-west2-docker.pkg.dev/database-toolbox/toolbox/toolbox:latest

# Looker Credentials
LOOKER_BASE_URL=https://your-instance.looker.app
LOOKER_CLIENT_ID=your-client-id
LOOKER_CLIENT_SECRET=your-client-secret
